{% extends "index.html" %}
{% load i18n %}
{% block js %}
<script>
$(document).ready(function () {
$.noConflict();
jQuery("#osd").click(function(event){
 event.preventDefault();
 //jQuery(".section-right-content").replaceWith(jQuery(".osd_detail"));
 jQuery(".section-right-content").html(jQuery(".osd_detail").html());
});

jQuery("#mon").click(function(event){
 event.preventDefault();
 //jQuery(".section-right-content").replaceWith(jQuery(".mon_detail"));
 jQuery(".section-right-content").html(jQuery(".mon_detail").html());
});

 jQuery("#mds").click(function(event){
 event.preventDefault();
 //jQuery(".section-right-content").replaceWith(jQuery(".mds_detail"));
 jQuery(".section-right-content").html(jQuery(".mds_detail").html());
});

function overview_chart(){
    ctypes = jQuery("form.chart-series input:checkbox");
    req = [];
    for(i=0;i<ctypes.length;i++)
        if(ctypes[i].checked)
            req.push(ctypes[i].value);
    url = "json?m=overview&name=data&stats=" + req.join(',')
    d3.json(url, function(error, poolData) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart();

          chart.xAxis
            .tickFormat(function(d){return d3.time.format('%H:%M')(new Date(d * 1000));});

          chart.x2Axis
            .tickFormat(function(d){return d3.time.format('%H:%M')(new Date(d * 1000));});

          chart.yAxis
            .tickFormat(d3.format(',.2f'));

          chart.y2Axis
            .tickFormat(d3.format(',.2f'));

          d3.select('#my-chart svg')
            .datum(poolData)
            .transition().duration(500)
            .call(chart)
            ;

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });
}

jQuery(overview_chart());
jQuery('.chart-series').submit(function(event){
    event.preventDefault();
    overview_chart()
});
});
</script>
<script>
var gauge = function(container, configuration) {
	var that = {};
	var config = {
		size						: 200,
		clipWidth					: 200,
		clipHeight					: 110,
		ringInset					: 20,
		ringWidth					: 20,
		
		pointerWidth				: 10,
		pointerTailLength			: 5,
		pointerHeadLengthPercent	: 0.9,
		
		minValue					: 0,
		maxValue					: 10,
		
		minAngle					: -90,
		maxAngle					: 90,
		
		transitionMs				: 750,
		
		majorTicks					: 3,
		labelFormat					: d3.format(',s'),
		labelInset					: 10,
		
		arcColorFn					: d3.interpolateHsl(d3.rgb('#e8e2ca'), d3.rgb('#3e6c0a'))
	};
	var range = undefined;
	var r = undefined;
	var pointerHeadLength = undefined;
	var value = 0;
	var svg = undefined;
	var arc = undefined;
	var scale = undefined;
	var ticks = undefined;
	var tickData = undefined;
	var pointer = undefined;

	var donut = d3.layout.pie();
	
	function deg2rad(deg) {
		return deg * Math.PI / 180;
	}
	
	function newAngle(d) {
		var ratio = scale(d);
		var newAngle = config.minAngle + (ratio * range);
		return newAngle;
	}
	
	function configure(configuration) {
		var prop = undefined;
		for ( prop in configuration ) {
			config[prop] = configuration[prop];
		}
		
		range = config.maxAngle - config.minAngle;
		r = config.size / 2;
		pointerHeadLength = Math.round(r * config.pointerHeadLengthPercent);

		// a linear scale that maps domain values to a percent from 0..1
		scale = d3.scale.linear()
			.range([0,1])
			.domain([config.minValue, config.maxValue]);
			
		ticks = scale.ticks(config.majorTicks);
		tickData = d3.range(config.majorTicks).map(function() {return 1/config.majorTicks;});
		
		arc = d3.svg.arc()
			.innerRadius(r - config.ringWidth - config.ringInset)
			.outerRadius(r - config.ringInset)
			.startAngle(function(d, i) {
				var ratio = d * i;
				return deg2rad(config.minAngle + (ratio * range));
			})
			.endAngle(function(d, i) {
				var ratio = d * (i+1);
				return deg2rad(config.minAngle + (ratio * range));
			});
	}
	that.configure = configure;
	
	function centerTranslation() {
		return 'translate('+r +','+ r +')';
	}
	
	function isRendered() {
		return (svg !== undefined);
	}
	that.isRendered = isRendered;
	
	function render(newValue) {
		svg = d3.select(container)
			.append('svg:svg')
				.attr('class', 'gauge')
				.attr('width', config.clipWidth)
				.attr('height', config.clipHeight);
		
		var centerTx = centerTranslation();
		
		var arcs = svg.append('g')
				.attr('class', 'arc')
				.attr('transform', centerTx);
		
		arcs.selectAll('path')
				.data(tickData)
			.enter().append('path')
				.attr('fill', function(d, i) {
					return ['#96bc23','#dea82c','#e92213'][i];
				})
				.attr('d', arc);
		
		var lg = svg.append('g')
				.attr('class', 'label')
				.attr('transform', centerTx);
		ticks.push(config.maxValue);
		lg.selectAll('text')
				.data(ticks)
			.enter().append('text')
				.attr('transform', function(d) {
					var ratio = scale(d);
					var newAngle = config.minAngle + (ratio * range);
					return 'rotate(' +newAngle +') translate(0,' +(config.labelInset - r) +')';
				})
				.text(function(d) { 
      var si = d3.format('.1f');
	        return String(si(d/1000000000)+"GB");});       
 
		var lineData = [ [config.pointerWidth / 2, 0], 
						[0, -pointerHeadLength],
						[-(config.pointerWidth / 2), 0],
						[0, config.pointerTailLength],
						[config.pointerWidth / 2, 0] ];
		var pointerLine = d3.svg.line().interpolate('monotone');
		var pg = svg.append('g').data([lineData])
				.attr('class', 'pointer')
				.attr('transform', centerTx);
				
		pointer = pg.append('path')
			.attr('d', pointerLine/*function(d) { return pointerLine(d) +'Z';}*/ )
			.attr('transform', 'rotate(' +config.minAngle +')');
			
		update(newValue === undefined ? 0 : newValue);
	}
	that.render = render;
	
	function update(newValue, newConfiguration) {
		if ( newConfiguration  !== undefined) {
			configure(newConfiguration);
		}
		var ratio = scale(newValue);
		var newAngle = config.minAngle + (ratio * range);
		pointer.transition()
			.duration(config.transitionMs)
			.ease('elastic')
			.attr('transform', 'rotate(' +newAngle +')');
	}
	that.update = update;

	configure(configuration);
	
	return that;
};
</script>

<script>
 var bytes_used='{{ status.pgmap.bytes_used}}'/1000000000
 var bytes_total='{{ status.pgmap.bytes_total}}'/1000000000
 var bytes_used='{{ status.pgmap.bytes_used}}'
 var bytes_total='{{ status.pgmap.bytes_total}}'
function onDocumentReady() {
	var powerGauge = gauge('#power-gauge', {
		size: 300,
		clipWidth: 600,
		clipHeight: 300,
		ringWidth: 60,
		maxValue: bytes_total,
		transitionMs: 4000,
	});
	powerGauge.render();
	
	function updateReadings() {
		// just pump in random data here...
		powerGauge.update(bytes_used);
	}
	
	// every few seconds update reading values
	updateReadings();
	setInterval(function() {
		updateReadings();
	}, 5 * 1000);
}

if ( !window.isLoaded ) {
	window.addEventListener("load", function() {
		onDocumentReady();
	}, false);
} else {
	onDocumentReady();
}
</script>

{% endblock %}


{% block section-right-content %}
<div class="section-right-content">
<div class="info detail">
    <hr class="header_rule">
    <dl>
        <dt style="font-size: 1.5rem;"> Cluster FSID: {{ status.fsid }}</dt>
        <dd></dd>
        {% if status.health.overall_status != "HEALTH_OK" %}
        <span style="font-family: wingdings; font-size: 400%; background-color:#4DB00B; float:left; width:100px; height:100px;  border-radius: 20px;">&#x26a0;</span>
        <dd>{{status.health.summary.0.summary}}</dd>
        {% else %}
        <span style="font-family: wingdings; font-size: 400%; float:left; width:100px; height:100px; border-radius: 20px; left:70px; top:10px; position:relative">&#10003;</span>
        <div class="health_status" style="background-color:#36A008;  height:100px ;  border-radius: 20px;">
           <dd style="position:relative; top:30px; left:50px; font-size: 2.0rem;"> Cluster Status : HEALTH OK</dt>
        {% endif %}
    </dl>
</div>
<div class="cluster-overview" style="height:300px;">
<div id="power-gauge" style="width:40%; float:left; border:2px solid #828383; border-radius: 20px; padding-left:20px;"></div>
<div class="usage" style="width:20%; float:left; border:2px solid #828383; border-radius: 20px; margin-left:20px; margin-right:20px; padding-left:20px;">
        <dt style="font-size: 1.5rem;">{% trans "Cluster Usage" %}</dt>
        <dt></dt>
        <dt>{% trans "Bytes Available" %}</dt>
        <dd>{{ status.pgmap.bytes_avail|filesizeformat }}</dd>
        <dt>{% trans "Bytes Used" %}</dt>
        <dd>{{ status.pgmap.bytes_used|filesizeformat }}</dd>
        <dt>{% trans "Bytes Total" %}</dt>
        <dd>{{ status.pgmap.bytes_total|filesizeformat }}</dd>

</div>
<div class="mon_info" style="width:30%; float:left;">hi</div>
</div>
<div class="mon_detail" style="clear:both;">
    <h4>{% trans "Mon Info" %}</h4>
    <hr class="header_rule">
    <dl>
        <dt>{% trans "mons" %}</dt>
{% for mon in status.monmap.mons %}
        <dd>name: {{ mon.name }}; rank: {{ mon.rank }}; addr: {{ mon.addr }}</dd>
{% endfor %}
    </dl>
</div>

<div class="osd_detail">
    <h4>{% trans "OSD Info" %}</h4>
    <hr class="header_rule">
        <span>{{ status.osdmap.osdmap.num_osds }} OSDs:</span>
        <span>{{ status.osdmap.osdmap.num_up_osds }} up,</span>
        <span>{{ status.osdmap.osdmap.num_in_osds }} in</span>
    </dl>
</div>

<div class="mds_detail">
    <h4>{% trans "MDS Info" %}</h4>
    <hr class="header_rule">
    <dl>
        <dt>{% trans "MDSs" %}</dt>
{% for mds in status.mdsmap.by_rank %}
        <dd>name: {{mds.name }}; rank: {{mds.rank}}; status: {{ mds.status }};</dd>
{% endfor %}
    </dl>
</div>
<style>
#my-chart svg {
    float:left;
  height: 400px;
}
.chart-series li
{
    float:left;
    margin-right:5px;
}

</style>

<div>
<form class="chart-series">
<ul>
    <li><input type="checkbox" name="chart_name" value="rd" checked/> Read Times</li>
    <li><input type="checkbox" name="chart_name" value="wr" checked/> Write Times</li>
    <li><input type="checkbox" name="chart_name" value="rd_kb" /> Read Bytes</li>
    <li><input type="checkbox" name="chart_name" value="wr_kb" /> Write Bytes</li>
    <li><input type="checkbox" name="chart_name" value="kb_used" /> Space Used</li>
    <li><input type="checkbox" name="chart_name" value="objects" /> Objects</li>
    <li><input type="submit" class="btn chart-submit" value="update" style="margin-bottom:9px"/></li>
</ul>
</form>
</div>

<div id="my-chart">
  <svg></svg>
</div>
</div>
{% endblock %}
