{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
     {% block title %}<title>{% trans "Ceph Dashboard" %}</title>{% endblock %}
     <link rel="stylesheet" type="text/css" href="/static/css/cephgui.css">
     <link href="/static/css/nv.d3.css" rel="stylesheet">
     <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
     {% block css %}{% endblock %}
    </head>


<body>
<div class="header">
<img class="nav-topbar img-src" src="/static/images/ceph.jpg">
<ul class="nav-topbar" style="padding-top:90px;">
  <li><a class="link" href="overview">Dashboard</a>
  <li><a class="link" href="topology">Topology</a>
  <li><a class="link" href="">Nodes</a>
  <li><a class="link" href="">Manage Cluster</a>
</ul>
</div>

</div>
{% block section-left %}{% endblock %}
{% block section-right %}{% endblock %}
<div class="footer">
{% block footer %}{% endblock %}
</div>

<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/nv.d3.js"></script>

{% block js %}
{% endblock %}
</body>

</html>
